In [2]:
# CSV Analysis in Jupyter Notebook - Complete Step-by-Step Guide
# ==============================================================

# Step 1: Import Required Libraries
# ---------------------------------
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pathlib import Path
import warnings
warnings.filterwarnings('ignore')

# Set display options for better output
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', 50)

print("Libraries imported successfully!")
print("Pandas version:", pd.__version__)
print("NumPy version:", np.__version__)

# Step 2: Load and Inspect the CSV File
# ------------------------------------

# Method 1: Load CSV with basic parameters
def load_csv_file(file_path, encoding='utf-8', separator=','):
    """
    Load CSV file with error handling and basic inspection

    Parameters:
    file_path (str): Path to the CSV file
    encoding (str): File encoding (default: 'utf-8')
    separator (str): Column separator (default: ',')

    Returns:
    pandas.DataFrame: Loaded data
    """
    try:
        # Load the CSV file
        df = pd.read_csv(file_path, encoding=encoding, sep=separator)
        print(f"‚úÖ CSV file loaded successfully!")
        print(f"File path: {file_path}")
        return df
    except FileNotFoundError:
        print(f"‚ùå Error: File '{file_path}' not found.")
        return None
    except pd.errors.EmptyDataError:
        print("‚ùå Error: The CSV file is empty.")
        return None
    except Exception as e:
        print(f"‚ùå Error loading CSV: {str(e)}")
        return None

# Example usage (replace with your actual file path):
# df = load_csv_file('your_file.csv')

# For demonstration, let's create a sample dataset
print("\n" + "="*50)
print("CREATING SAMPLE DATASET FOR DEMONSTRATION")
print("="*50)

# Create sample data
np.random.seed(42)
sample_data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve', 'Frank', 'Grace', 'Henry'],
    'Age': [25, 30, 35, 28, 33, 29, 31, 27],
    'Department': ['IT', 'HR', 'IT', 'Finance', 'IT', 'HR', 'Finance', 'IT'],
    'Salary': [50000, 45000, 60000, 55000, 58000, 47000, 62000, 52000],
    'Years_Experience': [3, 5, 8, 4, 6, 3, 7, 4],
    'City': ['New York', 'Chicago', 'New York', 'Boston', 'Chicago', 'Boston', 'New York', 'Chicago'],
    'Performance_Score': [8.5, 7.2, 9.1, 8.0, 8.8, 7.5, 9.0, 8.3]
}

df = pd.DataFrame(sample_data)
print("Sample dataset created for demonstration:")
print(df)

# Step 3: Basic Data Inspection and Analysis
# ------------------------------------------

def analyze_dataframe_basics(df):
    """
    Perform basic analysis of the dataframe

    Parameters:
    df (pandas.DataFrame): Input dataframe

    Returns:
    dict: Dictionary containing basic statistics
    """
    print("\n" + "="*50)
    print("BASIC DATAFRAME ANALYSIS")
    print("="*50)

    # Basic information
    print("üìä DATASET OVERVIEW:")
    print("-" * 20)

    # Number of rows and columns
    num_rows, num_cols = df.shape
    print(f"Number of rows: {num_rows:,}")
    print(f"Number of columns: {num_cols}")
    print(f"Total number of values: {num_rows * num_cols:,}")

    # Column information
    print(f"\nüìã COLUMN INFORMATION:")
    print("-" * 20)
    print("Column names:", list(df.columns))
    print("\nData types:")
    print(df.dtypes)

    # Memory usage
    print(f"\nüíæ MEMORY USAGE:")
    print("-" * 20)
    memory_usage = df.memory_usage(deep=True).sum()
    print(f"Total memory usage: {memory_usage:,} bytes ({memory_usage/1024/1024:.2f} MB)")

    # Missing values analysis
    print(f"\n‚ùì MISSING VALUES ANALYSIS:")
    print("-" * 20)
    missing_values = df.isnull().sum()
    missing_percentage = (missing_values / len(df)) * 100

    missing_summary = pd.DataFrame({
        'Column': df.columns,
        'Missing_Count': missing_values.values,
        'Missing_Percentage': missing_percentage.values
    })
    print(missing_summary)

    # Basic statistics
    print(f"\nüìà BASIC STATISTICS:")
    print("-" * 20)
    print(df.describe(include='all'))

    return {
        'num_rows': num_rows,
        'num_cols': num_cols,
        'total_values': num_rows * num_cols,
        'columns': list(df.columns),
        'dtypes': df.dtypes.to_dict(),
        'missing_values': missing_values.to_dict(),
        'memory_usage_bytes': memory_usage
    }

# Run basic analysis
basic_stats = analyze_dataframe_basics(df)

# Step 4: Advanced Column Analysis
# --------------------------------

def analyze_columns_detailed(df):
    """
    Perform detailed analysis of each column

    Parameters:
    df (pandas.DataFrame): Input dataframe
    """
    print("\n" + "="*60)
    print("DETAILED COLUMN ANALYSIS")
    print("="*60)

    for column in df.columns:
        print(f"\nüîç ANALYSIS FOR COLUMN: '{column}'")
        print("-" * 40)

        col_data = df[column]

        # Basic info
        print(f"Data type: {col_data.dtype}")
        print(f"Non-null count: {col_data.count():,}")
        print(f"Null count: {col_data.isnull().sum():,}")
        print(f"Unique values: {col_data.nunique():,}")

        # For numeric columns
        if pd.api.types.is_numeric_dtype(col_data):
            print(f"\nüìä NUMERIC STATISTICS:")
            print(f"  Min: {col_data.min()}")
            print(f"  Max: {col_data.max()}")
            print(f"  Mean: {col_data.mean():.2f}")
            print(f"  Median: {col_data.median():.2f}")
            print(f"  Standard deviation: {col_data.std():.2f}")
            print(f"  Sum: {col_data.sum():,.2f}")

            # Quartiles
            q1 = col_data.quantile(0.25)
            q3 = col_data.quantile(0.75)
            print(f"  Q1 (25th percentile): {q1:.2f}")
            print(f"  Q3 (75th percentile): {q3:.2f}")
            print(f"  IQR: {q3 - q1:.2f}")

        # For categorical/text columns
        else:
            print(f"\nüìù CATEGORICAL STATISTICS:")
            value_counts = col_data.value_counts().head(10)
            print("  Top 10 most frequent values:")
            for value, count in value_counts.items():
                percentage = (count / len(col_data)) * 100
                print(f"    '{value}': {count} ({percentage:.1f}%)")

        print("-" * 40)

# Run detailed column analysis
analyze_columns_detailed(df)

# Step 5: Aggregation Functions
# -----------------------------

def perform_aggregations(df):
    """
    Perform various aggregation operations on the dataframe

    Parameters:
    df (pandas.DataFrame): Input dataframe
    """
    print("\n" + "="*50)
    print("AGGREGATION ANALYSIS")
    print("="*50)

    # Get numeric columns only
    numeric_columns = df.select_dtypes(include=[np.number]).columns.tolist()
    categorical_columns = df.select_dtypes(include=['object']).columns.tolist()

    print(f"Numeric columns: {numeric_columns}")
    print(f"Categorical columns: {categorical_columns}")

    if numeric_columns:
        print(f"\nüìà NUMERIC AGGREGATIONS:")
        print("-" * 30)

        # Overall aggregations for all numeric columns
        agg_results = df[numeric_columns].agg(['count', 'sum', 'mean', 'median', 'min', 'max', 'std'])
        print("Overall numeric aggregations:")
        print(agg_results.round(2))

        # Custom aggregations
        print(f"\nüéØ CUSTOM AGGREGATIONS:")
        print("-" * 25)

        for col in numeric_columns:
            print(f"\nColumn: {col}")
            print(f"  Total sum: {df[col].sum():,.2f}")
            print(f"  Average: {df[col].mean():.2f}")
            print(f"  Range: {df[col].max() - df[col].min():.2f}")
            print(f"  Coefficient of variation: {(df[col].std() / df[col].mean() * 100):.1f}%")

    # Group-based aggregations
    if categorical_columns and numeric_columns:
        print(f"\nüè∑Ô∏è GROUP-BASED AGGREGATIONS:")
        print("-" * 30)

        for cat_col in categorical_columns[:2]:  # Limit to first 2 categorical columns
            print(f"\nGrouped by '{cat_col}':")
            grouped = df.groupby(cat_col)[numeric_columns].agg(['count', 'mean', 'sum', 'min', 'max'])
            print(grouped.round(2))

# Run aggregation analysis
perform_aggregations(df)

# Step 6: Creating New Tables - Missing Columns
# ---------------------------------------------

def create_tables_missing_columns(df):
    """
    Create new tables by removing or selecting specific columns

    Parameters:
    df (pandas.DataFrame): Input dataframe

    Returns:
    dict: Dictionary containing various filtered dataframes
    """
    print("\n" + "="*60)
    print("CREATING NEW TABLES - COLUMN OPERATIONS")
    print("="*60)

    tables = {}

    # 1. Select only numeric columns
    numeric_cols = df.select_dtypes(include=[np.number]).columns.tolist()
    if numeric_cols:
        tables['numeric_only'] = df[numeric_cols].copy()
        print(f"‚úÖ Created table with only numeric columns: {numeric_cols}")
        print(f"Shape: {tables['numeric_only'].shape}")
        print(tables['numeric_only'].head())

    # 2. Select only categorical columns
    categorical_cols = df.select_dtypes(include=['object']).columns.tolist()
    if categorical_cols:
        tables['categorical_only'] = df[categorical_cols].copy()
        print(f"\n‚úÖ Created table with only categorical columns: {categorical_cols}")
        print(f"Shape: {tables['categorical_only'].shape}")
        print(tables['categorical_only'].head())

    # 3. Remove specific columns (example: remove 'Name' if exists)
    columns_to_remove = ['Name']  # Customize this list
    remaining_cols = [col for col in df.columns if col not in columns_to_remove]
    if len(remaining_cols) < len(df.columns):
        tables['without_specified_cols'] = df[remaining_cols].copy()
        print(f"\n‚úÖ Created table without columns {columns_to_remove}")
        print(f"Remaining columns: {remaining_cols}")
        print(f"Shape: {tables['without_specified_cols'].shape}")
        print(tables['without_specified_cols'].head())

    # 4. Select columns by pattern (example: columns containing 'e')
    pattern_cols = [col for col in df.columns if 'e' in col.lower()]
    if pattern_cols:
        tables['pattern_match'] = df[pattern_cols].copy()
        print(f"\n‚úÖ Created table with columns containing 'e': {pattern_cols}")
        print(f"Shape: {tables['pattern_match'].shape}")
        print(tables['pattern_match'].head())

    # 5. Select first N columns
    n_cols = 3
    if len(df.columns) > n_cols:
        tables['first_n_columns'] = df.iloc[:, :n_cols].copy()
        print(f"\n‚úÖ Created table with first {n_cols} columns: {list(tables['first_n_columns'].columns)}")
        print(f"Shape: {tables['first_n_columns'].shape}")
        print(tables['first_n_columns'].head())

    return tables

# Create tables with missing columns
column_tables = create_tables_missing_columns(df)

# Step 7: Creating New Tables - Missing Rows
# ------------------------------------------

def create_tables_missing_rows(df):
    """
    Create new tables by removing or selecting specific rows

    Parameters:
    df (pandas.DataFrame): Input dataframe

    Returns:
    dict: Dictionary containing various filtered dataframes
    """
    print("\n" + "="*60)
    print("CREATING NEW TABLES - ROW OPERATIONS")
    print("="*60)

    tables = {}

    # 1. Filter rows based on conditions
    if 'Age' in df.columns:
        tables['age_filter'] = df[df['Age'] > 30].copy()
        print(f"‚úÖ Created table with Age > 30")
        print(f"Original rows: {len(df)}, Filtered rows: {len(tables['age_filter'])}")
        print(tables['age_filter'])

    # 2. Sample random rows
    sample_size = min(5, len(df))
    tables['random_sample'] = df.sample(n=sample_size, random_state=42).copy()
    print(f"\n‚úÖ Created table with {sample_size} random rows")
    print(tables['random_sample'])

    # 3. Get top N rows
    n_rows = 3
    tables['top_n_rows'] = df.head(n_rows).copy()
    print(f"\n‚úÖ Created table with top {n_rows} rows")
    print(tables['top_n_rows'])

    # 4. Get bottom N rows
    tables['bottom_n_rows'] = df.tail(n_rows).copy()
    print(f"\n‚úÖ Created table with bottom {n_rows} rows")
    print(tables['bottom_n_rows'])

    # 5. Remove rows with missing values (if any)
    tables['no_missing'] = df.dropna().copy()
    print(f"\n‚úÖ Created table without missing values")
    print(f"Original rows: {len(df)}, After removing missing: {len(tables['no_missing'])}")

    # 6. Filter by multiple conditions
    if 'Department' in df.columns and 'Salary' in df.columns:
        tables['complex_filter'] = df[
            (df['Department'] == 'IT') & (df['Salary'] > 50000)
        ].copy()
        print(f"\n‚úÖ Created table with IT employees earning > 50000")
        print(f"Filtered rows: {len(tables['complex_filter'])}")
        if not tables['complex_filter'].empty:
            print(tables['complex_filter'])

    # 7. Remove duplicate rows
    tables['no_duplicates'] = df.drop_duplicates().copy()
    print(f"\n‚úÖ Created table without duplicate rows")
    print(f"Original rows: {len(df)}, After removing duplicates: {len(tables['no_duplicates'])}")

    return tables

# Create tables with missing rows
row_tables = create_tables_missing_rows(df)

# Step 8: Advanced Data Manipulation
# ----------------------------------

def advanced_data_operations(df):
    """
    Perform advanced data manipulation operations

    Parameters:
    df (pandas.DataFrame): Input dataframe
    """
    print("\n" + "="*60)
    print("ADVANCED DATA MANIPULATION")
    print("="*60)

    # 1. Pivot table creation
    if 'Department' in df.columns and 'Salary' in df.columns:
        print("üìä PIVOT TABLE ANALYSIS:")
        print("-" * 25)
        pivot_table = df.pivot_table(
            values='Salary',
            index='Department',
            aggfunc=['mean', 'sum', 'count']
        )
        print("Salary analysis by Department:")
        print(pivot_table)

    # 2. Cross-tabulation
    if 'Department' in df.columns and 'City' in df.columns:
        print("\nüîÑ CROSS-TABULATION:")
        print("-" * 20)
        crosstab = pd.crosstab(df['Department'], df['City'], margins=True)
        print("Department vs City cross-tabulation:")
        print(crosstab)

    # 3. Correlation analysis
    numeric_cols = df.select_dtypes(include=[np.number]).columns
    if len(numeric_cols) > 1:
        print("\nüîó CORRELATION ANALYSIS:")
        print("-" * 23)
        correlation_matrix = df[numeric_cols].corr()
        print("Correlation matrix:")
        print(correlation_matrix.round(3))

    # 4. Ranking and percentiles
    if 'Salary' in df.columns:
        print("\nüèÜ RANKING ANALYSIS:")
        print("-" * 18)
        df_ranked = df.copy()
        df_ranked['Salary_Rank'] = df_ranked['Salary'].rank(ascending=False)
        df_ranked['Salary_Percentile'] = df_ranked['Salary'].rank(pct=True) * 100
        print("Top employees by salary:")
        print(df_ranked[['Name', 'Salary', 'Salary_Rank', 'Salary_Percentile']].head())

# Run advanced operations
advanced_data_operations(df)

# Step 9: Data Export Functions
# -----------------------------

def export_data_tables(tables_dict, base_filename="processed_data"):
    """
    Export processed tables to different formats

    Parameters:
    tables_dict (dict): Dictionary containing dataframes to export
    base_filename (str): Base name for exported files
    """
    print("\n" + "="*50)
    print("DATA EXPORT OPTIONS")
    print("="*50)

    for table_name, table_df in tables_dict.items():
        if not table_df.empty:
            filename = f"{base_filename}_{table_name}"

            # Export to CSV
            csv_file = f"{filename}.csv"
            table_df.to_csv(csv_file, index=False)
            print(f"‚úÖ Exported '{table_name}' to {csv_file}")

            # Export to Excel (optional)
            try:
                excel_file = f"{filename}.xlsx"
                table_df.to_excel(excel_file, index=False)
                print(f"‚úÖ Exported '{table_name}' to {excel_file}")
            except ImportError:
                print(f"‚ö†Ô∏è  Excel export requires openpyxl: pip install openpyxl")

            # Export to JSON
            json_file = f"{filename}.json"
            table_df.to_json(json_file, orient='records', indent=2)
            print(f"‚úÖ Exported '{table_name}' to {json_file}")

            print(f"   Shape: {table_df.shape}")
            print()

# Example export (uncomment to use):
# all_tables = {**column_tables, **row_tables}
# export_data_tables(all_tables)

# Step 10: Summary Report Generation
# ---------------------------------

def generate_summary_report(df, basic_stats):
    """
    Generate a comprehensive summary report

    Parameters:
    df (pandas.DataFrame): Input dataframe
    basic_stats (dict): Basic statistics dictionary
    """
    print("\n" + "="*60)
    print("COMPREHENSIVE SUMMARY REPORT")
    print("="*60)

    print("üìã DATASET SUMMARY:")
    print("-" * 18)
    print(f"‚Ä¢ Dataset shape: {df.shape[0]:,} rows √ó {df.shape[1]} columns")
    print(f"‚Ä¢ Total data points: {basic_stats['total_values']:,}")
    print(f"‚Ä¢ Memory usage: {basic_stats['memory_usage_bytes']:,} bytes")

    # Missing data summary
    total_missing = sum(basic_stats['missing_values'].values())
    missing_percentage = (total_missing / basic_stats['total_values']) * 100
    print(f"‚Ä¢ Missing values: {total_missing:,} ({missing_percentage:.1f}%)")

    # Data types summary
    print(f"\nüìä DATA TYPES BREAKDOWN:")
    print("-" * 25)
    dtype_counts = pd.Series(basic_stats['dtypes']).value_counts()
    for dtype, count in dtype_counts.items():
        print(f"‚Ä¢ {dtype}: {count} columns")

    # Numeric columns summary
    numeric_cols = df.select_dtypes(include=[np.number]).columns
    if len(numeric_cols) > 0:
        print(f"\nüí∞ NUMERIC COLUMNS SUMMARY:")
        print("-" * 27)
        for col in numeric_cols:
            col_sum = df[col].sum()
            col_mean = df[col].mean()
            print(f"‚Ä¢ {col}:")
            print(f"  Sum: {col_sum:,.2f}")
            print(f"  Average: {col_mean:.2f}")
            print(f"  Range: {df[col].min():.2f} to {df[col].max():.2f}")

    # Categorical columns summary
    cat_cols = df.select_dtypes(include=['object']).columns
    if len(cat_cols) > 0:
        print(f"\nüè∑Ô∏è CATEGORICAL COLUMNS SUMMARY:")
        print("-" * 31)
        for col in cat_cols:
            unique_count = df[col].nunique()
            most_common = df[col].mode().iloc[0] if not df[col].empty else "N/A"
            print(f"‚Ä¢ {col}: {unique_count} unique values, most common: '{most_common}'")

    print(f"\n‚úÖ Analysis completed successfully!")
    print(f"üöÄ You can now use the processed tables for further analysis or export them.")

# Generate final summary report
generate_summary_report(df, basic_stats)

# Step 11: Quick Reference - Common Operations
# -------------------------------------------

print("\n" + "="*60)
print("QUICK REFERENCE - COMMON OPERATIONS")
print("="*60)

quick_ref = """
üîß COMMON CSV OPERATIONS CHEAT SHEET:

1. LOADING DATA:
   df = pd.read_csv('file.csv')
   df = pd.read_csv('file.csv', encoding='latin1')  # For special characters
   df = pd.read_csv('file.csv', sep=';')            # Different separator

2. BASIC INSPECTION:
   df.shape                    # Dimensions
   df.info()                   # Data types and non-null counts
   df.describe()               # Statistical summary
   df.head(n)                  # First n rows
   df.tail(n)                  # Last n rows

3. COLUMN OPERATIONS:
   df.columns                  # Column names
   df.dtypes                   # Data types
   df[['col1', 'col2']]       # Select columns
   df.drop(['col1'], axis=1)   # Remove columns

4. ROW OPERATIONS:
   df[df['col'] > value]       # Filter rows
   df.sample(n=10)            # Random sample
   df.drop_duplicates()        # Remove duplicates
   df.dropna()                # Remove missing values

5. AGGREGATIONS:
   df['col'].sum()            # Sum
   df['col'].mean()           # Average
   df.groupby('col').sum()    # Group by aggregation
   df.pivot_table()           # Pivot table

6. EXPORTS:
   df.to_csv('output.csv', index=False)
   df.to_excel('output.xlsx', index=False)
   df.to_json('output.json', orient='records')
"""

print(quick_ref)

print("\nüéâ CSV Analysis Tutorial Complete!")
print("üí° Pro tip: Always start with df.info() and df.describe() to understand your data!")

Libraries imported successfully!
Pandas version: 2.2.2
NumPy version: 2.0.2

==================================================
CREATING SAMPLE DATASET FOR DEMONSTRATION
==================================================
Sample dataset created for demonstration:
      Name  Age Department  Salary  Years_Experience      City  \
0    Alice   25         IT   50000                 3  New York
1      Bob   30         HR   45000                 5   Chicago
2  Charlie   35         IT   60000                 8  New York
3    Diana   28    Finance   55000                 4    Boston
4      Eve   33         IT   58000                 6   Chicago
5    Frank   29         HR   47000                 3    Boston
6    Grace   31    Finance   62000                 7  New York
7    Henry   27         IT   52000                 4   Chicago

   Performance_Score
0                8.5
1                7.2
2                9.1
3                8.0
4                8.8
5                7.5
6                9.0
7                8.3

==================================================
BASIC DATAFRAME ANALYSIS
==================================================
üìä DATASET OVERVIEW:
--------------------
Number of rows: 8
Number of columns: 7
Total number of values: 56

üìã COLUMN INFORMATION:
--------------------
Column names: ['Name', 'Age', 'Department', 'Salary', 'Years_Experience', 'City', 'Performance_Score']

Data types:
Name                  object
Age                    int64
Department            object
Salary                 int64
Years_Experience       int64
City                  object
Performance_Score    float64
dtype: object

üíæ MEMORY USAGE:
--------------------
Total memory usage: 1,877 bytes (0.00 MB)

‚ùì MISSING VALUES ANALYSIS:
--------------------
              Column  Missing_Count  Missing_Percentage
0               Name              0                 0.0
1                Age              0                 0.0
2         Department              0                 0.0
3             Salary              0                 0.0
4   Years_Experience              0                 0.0
5               City              0                 0.0
6  Performance_Score              0                 0.0

üìà BASIC STATISTICS:
--------------------
         Name       Age Department        Salary  Years_Experience      City  \
count       8   8.00000          8      8.000000           8.00000         8
unique      8       NaN          3           NaN               NaN         3
top     Alice       NaN         IT           NaN               NaN  New York
freq        1       NaN          4           NaN               NaN         3
mean      NaN  29.75000        NaN  53625.000000           5.00000       NaN
std       NaN   3.24037        NaN   6162.965427           1.85164       NaN
min       NaN  25.00000        NaN  45000.000000           3.00000       NaN
25%       NaN  27.75000        NaN  49250.000000           3.75000       NaN
50%       NaN  29.50000        NaN  53500.000000           4.50000       NaN
75%       NaN  31.50000        NaN  58500.000000           6.25000       NaN
max       NaN  35.00000        NaN  62000.000000           8.00000       NaN

        Performance_Score
count             8.00000
unique                NaN
top                   NaN
freq                  NaN
mean              8.30000
std               0.69282
min               7.20000
25%               7.87500
50%               8.40000
75%               8.85000
max               9.10000

============================================================
DETAILED COLUMN ANALYSIS
============================================================

üîç ANALYSIS FOR COLUMN: 'Name'
----------------------------------------
Data type: object
Non-null count: 8
Null count: 0
Unique values: 8

üìù CATEGORICAL STATISTICS:
  Top 10 most frequent values:
    'Alice': 1 (12.5%)
    'Bob': 1 (12.5%)
    'Charlie': 1 (12.5%)
    'Diana': 1 (12.5%)
    'Eve': 1 (12.5%)
    'Frank': 1 (12.5%)
    'Grace': 1 (12.5%)
    'Henry': 1 (12.5%)
----------------------------------------

üîç ANALYSIS FOR COLUMN: 'Age'
----------------------------------------
Data type: int64
Non-null count: 8
Null count: 0
Unique values: 8

üìä NUMERIC STATISTICS:
  Min: 25
  Max: 35
  Mean: 29.75
  Median: 29.50
  Standard deviation: 3.24
  Sum: 238.00
  Q1 (25th percentile): 27.75
  Q3 (75th percentile): 31.50
  IQR: 3.75
----------------------------------------

üîç ANALYSIS FOR COLUMN: 'Department'
----------------------------------------
Data type: object
Non-null count: 8
Null count: 0
Unique values: 3

üìù CATEGORICAL STATISTICS:
  Top 10 most frequent values:
    'IT': 4 (50.0%)
    'HR': 2 (25.0%)
    'Finance': 2 (25.0%)
----------------------------------------

üîç ANALYSIS FOR COLUMN: 'Salary'
----------------------------------------
Data type: int64
Non-null count: 8
Null count: 0
Unique values: 8

üìä NUMERIC STATISTICS:
  Min: 45000
  Max: 62000
  Mean: 53625.00
  Median: 53500.00
  Standard deviation: 6162.97
  Sum: 429,000.00
  Q1 (25th percentile): 49250.00
  Q3 (75th percentile): 58500.00
  IQR: 9250.00
----------------------------------------

üîç ANALYSIS FOR COLUMN: 'Years_Experience'
----------------------------------------
Data type: int64
Non-null count: 8
Null count: 0
Unique values: 6

üìä NUMERIC STATISTICS:
  Min: 3
  Max: 8
  Mean: 5.00
  Median: 4.50
  Standard deviation: 1.85
  Sum: 40.00
  Q1 (25th percentile): 3.75
  Q3 (75th percentile): 6.25
  IQR: 2.50
----------------------------------------

üîç ANALYSIS FOR COLUMN: 'City'
----------------------------------------
Data type: object
Non-null count: 8
Null count: 0
Unique values: 3

üìù CATEGORICAL STATISTICS:
  Top 10 most frequent values:
    'New York': 3 (37.5%)
    'Chicago': 3 (37.5%)
    'Boston': 2 (25.0%)
----------------------------------------

üîç ANALYSIS FOR COLUMN: 'Performance_Score'
----------------------------------------
Data type: float64
Non-null count: 8
Null count: 0
Unique values: 8

üìä NUMERIC STATISTICS:
  Min: 7.2
  Max: 9.1
  Mean: 8.30
  Median: 8.40
  Standard deviation: 0.69
  Sum: 66.40
  Q1 (25th percentile): 7.88
  Q3 (75th percentile): 8.85
  IQR: 0.98
----------------------------------------

==================================================
AGGREGATION ANALYSIS
==================================================
Numeric columns: ['Age', 'Salary', 'Years_Experience', 'Performance_Score']
Categorical columns: ['Name', 'Department', 'City']

üìà NUMERIC AGGREGATIONS:
------------------------------
Overall numeric aggregations:
           Age     Salary  Years_Experience  Performance_Score
count     8.00       8.00              8.00               8.00
sum     238.00  429000.00             40.00              66.40
mean     29.75   53625.00              5.00               8.30
median   29.50   53500.00              4.50               8.40
min      25.00   45000.00              3.00               7.20
max      35.00   62000.00              8.00               9.10
std       3.24    6162.97              1.85               0.69

üéØ CUSTOM AGGREGATIONS:
-------------------------

Column: Age
  Total sum: 238.00
  Average: 29.75
  Range: 10.00
  Coefficient of variation: 10.9%

Column: Salary
  Total sum: 429,000.00
  Average: 53625.00
  Range: 17000.00
  Coefficient of variation: 11.5%

Column: Years_Experience
  Total sum: 40.00
  Average: 5.00
  Range: 5.00
  Coefficient of variation: 37.0%

Column: Performance_Score
  Total sum: 66.40
  Average: 8.30
  Range: 1.90
  Coefficient of variation: 8.3%

üè∑Ô∏è GROUP-BASED AGGREGATIONS:
------------------------------

Grouped by 'Name':
          Age                   Salary                                \
        count  mean sum min max  count     mean    sum    min    max
Name
Alice       1  25.0  25  25  25      1  50000.0  50000  50000  50000
Bob         1  30.0  30  30  30      1  45000.0  45000  45000  45000
Charlie     1  35.0  35  35  35      1  60000.0  60000  60000  60000
Diana       1  28.0  28  28  28      1  55000.0  55000  55000  55000
Eve         1  33.0  33  33  33      1  58000.0  58000  58000  58000
Frank       1  29.0  29  29  29      1  47000.0  47000  47000  47000
Grace       1  31.0  31  31  31      1  62000.0  62000  62000  62000
Henry       1  27.0  27  27  27      1  52000.0  52000  52000  52000

        Years_Experience                  Performance_Score                 \
                   count mean sum min max             count mean  sum  min
Name
Alice                  1  3.0   3   3   3                 1  8.5  8.5  8.5
Bob                    1  5.0   5   5   5                 1  7.2  7.2  7.2
Charlie                1  8.0   8   8   8                 1  9.1  9.1  9.1
Diana                  1  4.0   4   4   4                 1  8.0  8.0  8.0
Eve                    1  6.0   6   6   6                 1  8.8  8.8  8.8
Frank                  1  3.0   3   3   3                 1  7.5  7.5  7.5
Grace                  1  7.0   7   7   7                 1  9.0  9.0  9.0
Henry                  1  4.0   4   4   4                 1  8.3  8.3  8.3


         max
Name
Alice    8.5
Bob      7.2
Charlie  9.1
Diana    8.0
Eve      8.8
Frank    7.5
Grace    9.0
Henry    8.3

Grouped by 'Department':
             Age                    Salary                                 \
           count  mean  sum min max  count     mean     sum    min    max
Department
Finance        2  29.5   59  28  31      2  58500.0  117000  55000  62000
HR             2  29.5   59  29  30      2  46000.0   92000  45000  47000
IT             4  30.0  120  25  35      4  55000.0  220000  50000  60000

           Years_Experience                   Performance_Score              \
                      count  mean sum min max             count  mean   sum
Department
Finance                   2  5.50  11   4   7                 2  8.50  17.0
HR                        2  4.00   8   3   5                 2  7.35  14.7
IT                        4  5.25  21   3   8                 4  8.68  34.7


            min  max
Department
Finance     8.0  9.0
HR          7.2  7.5
IT          8.3  9.1

============================================================
CREATING NEW TABLES - COLUMN OPERATIONS
============================================================
‚úÖ Created table with only numeric columns: ['Age', 'Salary', 'Years_Experience', 'Performance_Score']
Shape: (8, 4)
   Age  Salary  Years_Experience  Performance_Score
0   25   50000                 3                8.5
1   30   45000                 5                7.2
2   35   60000                 8                9.1
3   28   55000                 4                8.0
4   33   58000                 6                8.8

‚úÖ Created table with only categorical columns: ['Name', 'Department', 'City']
Shape: (8, 3)
      Name Department      City
0    Alice         IT  New York
1      Bob         HR   Chicago
2  Charlie         IT  New York
3    Diana    Finance    Boston
4      Eve         IT   Chicago

‚úÖ Created table without columns ['Name']
Remaining columns: ['Age', 'Department', 'Salary', 'Years_Experience', 'City', 'Performance_Score']
Shape: (8, 6)
   Age Department  Salary  Years_Experience      City  Performance_Score
0   25         IT   50000                 3  New York                8.5
1   30         HR   45000                 5   Chicago                7.2
2   35         IT   60000                 8  New York                9.1
3   28    Finance   55000                 4    Boston                8.0
4   33         IT   58000                 6   Chicago                8.8

‚úÖ Created table with columns containing 'e': ['Name', 'Age', 'Department', 'Years_Experience', 'Performance_Score']
Shape: (8, 5)
      Name  Age Department  Years_Experience  Performance_Score
0    Alice   25         IT                 3                8.5
1      Bob   30         HR                 5                7.2
2  Charlie   35         IT                 8                9.1
3    Diana   28    Finance                 4                8.0
4      Eve   33         IT                 6                8.8

‚úÖ Created table with first 3 columns: ['Name', 'Age', 'Department']
Shape: (8, 3)
      Name  Age Department
0    Alice   25         IT
1      Bob   30         HR
2  Charlie   35         IT
3    Diana   28    Finance
4      Eve   33         IT

============================================================
CREATING NEW TABLES - ROW OPERATIONS
============================================================
‚úÖ Created table with Age > 30
Original rows: 8, Filtered rows: 3
      Name  Age Department  Salary  Years_Experience      City  \
2  Charlie   35         IT   60000                 8  New York
4      Eve   33         IT   58000                 6   Chicago
6    Grace   31    Finance   62000                 7  New York

   Performance_Score
2                9.1
4                8.8
6                9.0

‚úÖ Created table with 5 random rows
      Name  Age Department  Salary  Years_Experience      City  \
1      Bob   30         HR   45000                 5   Chicago
5    Frank   29         HR   47000                 3    Boston
0    Alice   25         IT   50000                 3  New York
7    Henry   27         IT   52000                 4   Chicago
2  Charlie   35         IT   60000                 8  New York

   Performance_Score
1                7.2
5                7.5
0                8.5
7                8.3
2                9.1

‚úÖ Created table with top 3 rows
      Name  Age Department  Salary  Years_Experience      City  \
0    Alice   25         IT   50000                 3  New York
1      Bob   30         HR   45000                 5   Chicago
2  Charlie   35         IT   60000                 8  New York

   Performance_Score
0                8.5
1                7.2
2                9.1

‚úÖ Created table with bottom 3 rows
    Name  Age Department  Salary  Years_Experience      City  \
5  Frank   29         HR   47000                 3    Boston
6  Grace   31    Finance   62000                 7  New York
7  Henry   27         IT   52000                 4   Chicago

   Performance_Score
5                7.5
6                9.0
7                8.3

‚úÖ Created table without missing values
Original rows: 8, After removing missing: 8

‚úÖ Created table with IT employees earning > 50000
Filtered rows: 3
      Name  Age Department  Salary  Years_Experience      City  \
2  Charlie   35         IT   60000                 8  New York
4      Eve   33         IT   58000                 6   Chicago
7    Henry   27         IT   52000                 4   Chicago

   Performance_Score
2                9.1
4                8.8
7                8.3

‚úÖ Created table without duplicate rows
Original rows: 8, After removing duplicates: 8

============================================================
ADVANCED DATA MANIPULATION
============================================================
üìä PIVOT TABLE ANALYSIS:
-------------------------
Salary analysis by Department:
               mean     sum  count
             Salary  Salary Salary
Department
Finance     58500.0  117000      2
HR          46000.0   92000      2
IT          55000.0  220000      4

üîÑ CROSS-TABULATION:
--------------------
Department vs City cross-tabulation:
City        Boston  Chicago  New York  All
Department
Finance          1        0         1    2
HR               1        1         0    2
IT               0        2         2    4
All              2        3         3    8

üîó CORRELATION ANALYSIS:
-----------------------
Correlation matrix:
                     Age  Salary  Years_Experience  Performance_Score
Age                1.000   0.574             0.881              0.420
Salary             0.574   1.000             0.764              0.897
Years_Experience   0.881   0.764             1.000              0.646
Performance_Score  0.420   0.897             0.646              1.000

üèÜ RANKING ANALYSIS:
------------------
Top employees by salary:
      Name  Salary  Salary_Rank  Salary_Percentile
0    Alice   50000          6.0               37.5
1      Bob   45000          8.0               12.5
2  Charlie   60000          2.0               87.5
3    Diana   55000          4.0               62.5
4      Eve   58000          3.0               75.0

============================================================
COMPREHENSIVE SUMMARY REPORT
============================================================
üìã DATASET SUMMARY:
------------------
‚Ä¢ Dataset shape: 8 rows √ó 7 columns
‚Ä¢ Total data points: 56
‚Ä¢ Memory usage: 1,877 bytes
‚Ä¢ Missing values: 0 (0.0%)

üìä DATA TYPES BREAKDOWN:
-------------------------
‚Ä¢ object: 3 columns
‚Ä¢ int64: 3 columns
‚Ä¢ float64: 1 columns

üí∞ NUMERIC COLUMNS SUMMARY:
---------------------------
‚Ä¢ Age:
  Sum: 238.00
  Average: 29.75
  Range: 25.00 to 35.00
‚Ä¢ Salary:
  Sum: 429,000.00
  Average: 53625.00
  Range: 45000.00 to 62000.00
‚Ä¢ Years_Experience:
  Sum: 40.00
  Average: 5.00
  Range: 3.00 to 8.00
‚Ä¢ Performance_Score:
  Sum: 66.40
  Average: 8.30
  Range: 7.20 to 9.10

üè∑Ô∏è CATEGORICAL COLUMNS SUMMARY:
-------------------------------
‚Ä¢ Name: 8 unique values, most common: 'Alice'
‚Ä¢ Department: 3 unique values, most common: 'IT'
‚Ä¢ City: 3 unique values, most common: 'Chicago'

‚úÖ Analysis completed successfully!
üöÄ You can now use the processed tables for further analysis or export them.

============================================================
QUICK REFERENCE - COMMON OPERATIONS
============================================================

üîß COMMON CSV OPERATIONS CHEAT SHEET:

1. LOADING DATA:
   df = pd.read_csv('file.csv')
   df = pd.read_csv('file.csv', encoding='latin1')  # For special characters
   df = pd.read_csv('file.csv', sep=';')            # Different separator

2. BASIC INSPECTION:
   df.shape                    # Dimensions
   df.info()                   # Data types and non-null counts
   df.describe()               # Statistical summary
   df.head(n)                  # First n rows
   df.tail(n)                  # Last n rows

3. COLUMN OPERATIONS:
   df.columns                  # Column names
   df.dtypes                   # Data types
   df[['col1', 'col2']]       # Select columns
   df.drop(['col1'], axis=1)   # Remove columns

4. ROW OPERATIONS:
   df[df['col'] > value]       # Filter rows
   df.sample(n=10)            # Random sample
   df.drop_duplicates()        # Remove duplicates
   df.dropna()                # Remove missing values

5. AGGREGATIONS:
   df['col'].sum()            # Sum
   df['col'].mean()           # Average
   df.groupby('col').sum()    # Group by aggregation
   df.pivot_table()           # Pivot table

6. EXPORTS:
   df.to_csv('output.csv', index=False)
   df.to_excel('output.xlsx', index=False)
   df.to_json('output.json', orient='records')


üéâ CSV Analysis Tutorial Complete!
üí° Pro tip: Always start with df.info() and df.describe() to understand your data!